absl-py
adafruit-python-shell
adafruit-circuitpython-gps
adafruit-circuitpython-pm25
adafruit-circuitpython-bme680
bleak
bless
configparser
influxdb_client
python-dotenv
setuptools
RPi.GPIO
adafruit-blinka
psutil
pybluez
