<html>
<head>
<title>SimpleAQ Configuration</title>
</head>
<body>
<table>
<form method="get">
<tr>
  <th>Setting</th>
  <th>Value</th>
</tr>
<tr>
  <td>Center Frequency</td>
  <td>
    <input name="frequency" type="numeric" value="{{center_frequency}}"/>
  </td>
</tr>
<tr>
  <td><button type="submit">New Spectrogram</button></td>
  <td><button type="reset">Reset</button></td>
</tr>
</form>
<tr>
<td colspan=2>
    <center>
      <img src="static/spec.jpg"/>
    </center>
</td>
</tr>
</table>
</body>
</html>
