<html>
<head>
<title>SimpleAQ Configuration</title>
</head>
<body>
<b>Your settings have been applied and this device is scheduling a reboot.</b>
<p/>
The SimpleAQ device will only present its network if it is unable to connect to the local wifi or to the SimpleAQ service for any reason.<p/>

<b>What next?</b>
<p/>
You may reconnect to your home wifi and return to the SimpleAQ website, and wait up to 10 minutes to see if you start receiving data.
If you don't see the SimpleAQ wifi network come back up, it's probably because you've configured the device correctly and it is working!

<p/>
If the wifi network returns, or if it never appears to go down, try the following:
<ol>
	<li>Unplug your device and plug it back in.
	<li>Try disconnecting from the SimpleAQ wifi network and waiting 10 minutes.
	<li>Connect to the SimpleAQ wifi network, navigate to http://192.168.4.1, and check your wifi credentials.
</ol>
<p/>
<a href="/">Back to settings</a>
</body>
</html>
