<html>
<head>
<title>SimpleAQ Configuration</title>
</head>
<body>
<b>Your settings will be applied shortly.</b>
<p/>
Please note that it may take a few minutes for your updated settings to be reflected on the settings page.
<p/>
<b>What next?</b>
<p/>
You may reconnect to your home wifi and return to the SimpleAQ website and wait 10 minutes to see if you start receiving data.
<p/>
If it doesn't work, try the following:
<ol>
	<li>Unplug your device and plug it back in.
	<li>Connect to the SimpleAQ wifi network, navigate to http://192.168.4.1, and check your wifi credentials.
        <li>If all else fails, go to the settings page at http://192.168.4.1 and check the simpleaq service logs for hints or errors.
</ol>
<p/>
<a href="/">Back to settings</a>
</body>
</html>
