<html>
<head>
<title>SimpleAQ Configuration</title>
</head>
<body>
<b>Your settings have been applied and this device is scheduling a reboot.</b>
<p/>
<b>What next?</b>
<p/>
You may reconnect to your home wifi and return to the SimpleAQ website, and wait up to 10 minutes to see if you start receiving data.

<p/>
If it doesn't work, try the following:
<ol>
	<li>Unplug your device and plug it back in.
	<li>Try disconnecting from the SimpleAQ wifi network.
	<li>Connect to the SimpleAQ wifi network, navigate to http://192.168.4.1, and check your wifi credentials.
        <li>If you are unable to unplug your device and plug it back in, go back to settings and select "Submit Changes and Reboot" again to force reboot.
        <li>If all else fails, go to the settings page at http://192.168.4.1 and check the simpleaq service logs for hints.
</ol>
<p/>
<a href="/">Back to settings</a>
</body>
</html>
