[Unit]
Description=Setup virtual AP interface
Before=hostapd.service
After=network.target
Requires=sys-subsystem-net-devices-wlan0.device

[Service]
Type=oneshot
ExecStart=/sbin/iw dev wlan0 interface add ap0 type __ap
ExecStartPost=/bin/ip link set ap0 up
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

