[Unit]
Description=Create ap0 interface
After=NetworkManager.service
Before=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=bash -c 'while ! /usr/bin/nmcli device status | grep wlan0 -q; do sleep 1; done'
ExecStart=/sbin/iw dev wlan0 interface add ap0 type __ap
ExecStartPost=/sbin/ip link set ap0 up
ExecStartPost=/usr/bin/nmcli device set ap0 managed yes
ExecStartPost=/usr/bin/nmcli connection up SimpleAQ-AP
ExecStop=/sbin/iw dev ap0 del

[Install]
WantedBy=multi-user.target
