[Unit]
Description=Setup virtual AP interface
Before=hostapd.service
Wants=network.target
After=network.target

[Service]
Type=oneshot
ExecStart=/sbin/iw dev wlan0 interface add ap0 type __ap
ExecStartPost=/bin/ip link set ap0 up
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

